body {
   background-color: grey;
   margin: 0px;
}

header {
   height: 20vh;
   width: auto;
   background-color: lightslategrey;
}

main {
   height: 70vh;
   width: 75%;
   background-color:white;
   margin: 0 auto;
   
}

footer {
   height: 10vh;
   width: 75%;
   background-color:black;
   margin: 0 auto;
}